{{ define "main" }}
<content>
  {{ if .Data.Singular }}
  <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3>
  <small>
    <a href="{{ "/blog" | relURL }}">Remove filter</a>
  </small>
  {{ end }}

  {{ range first 1 (where (where .Pages "Section" "releases") "Params.series" "==" "Aloe" ) }}
  <strong style="padding-top: 16px; display: block;">Aloe series</strong>
  {{ end }}

  <ul class="blog-posts">
    {{ range where (where .Pages "Section" "releases") "Params.series" "==" "Aloe" }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    {{ end }}
  </ul>

  {{ range first 1 (where (where .Pages "Section" "releases") "Params.series" "==" "Alone" ) }}
  <strong style="display: block;">Alone series</strong>
  {{ end }}

  <ul class="blog-posts">
    {{ range where (where .Pages "Section" "releases") "Params.series" "==" "Alone" }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    {{ end }}
  </ul>

  <ul class="blog-posts">
    {{ range where .Pages "Section" "blog" }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    {{ end }}
  </ul>

  <!-- <ul class="blog-posts">
    {{ range where .Pages "Section" "events" }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    {{ end }}
  </ul> -->

  {{ range first 1 (where (where .Pages "Section" "events") "Params.series" "==" "workshop" ) }}
  <strong style="padding-top: 16px; display: block;">Workshop</strong>
  {{ end }}

  <ul class="blog-posts">
    {{ range where (where .Pages "Section" "events") "Params.series" "==" "workshop" }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    {{ end }}
  </ul>

  {{ range first 1 (where (where .Pages "Section" "events") "Params.series" "==" "on-site" ) }}
  <strong style="display: block;">On-site</strong>
  {{ end }}

  <ul class="blog-posts">
    {{ range where (where .Pages "Section" "events") "Params.series" "==" "on-site" }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    {{ end }}
  </ul>

  {{ if .Data.Singular }}
  {{else}}
    <small>
      <div>
        {{ range .Site.Taxonomies.tags }}
        <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
        {{ end }}
      </div>
    </small>
    {{ end }}
</content>
{{ end }}
