{{ define "main" }}
<content>
  {{ if .Data.Singular }}
  <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3>
  <small>
    <a href="{{ " /blog" | relURL }}">Remove filter</a>
  </small>
  {{ end }}

  {{ range first 1 (where (where .Pages "Section" "releases") "Params.series" "==" "Aloe" ) }}
  <strong style="padding-top: 16px; display: block;">Aloe series</strong>
  {{ end }}

  <ul class="blog-posts">
    {{ range where (where .Pages "Section" "releases") "Params.series" "==" "Aloe" }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    {{ end }}
  </ul>

  {{ range first 1 (where (where .Pages "Section" "releases") "Params.series" "==" "Aloes" ) }}
  <strong style="padding-top: 16px; display: block;">Aloes series</strong>
  {{ end }}

  <ul class="blog-posts">
    {{ range where (where .Pages "Section" "releases") "Params.series" "==" "Aloes" }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    {{ end }}
  </ul>

  {{ range first 1 (where (where .Pages "Section" "releases") "Params.series" "==" "Alone" ) }}
  <strong style="display: block;">Alone series</strong>
  {{ end }}

  <ul class="blog-posts">
    {{ range where (where .Pages "Section" "releases") "Params.series" "==" "Alone" }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    {{ end }}
  </ul>

  <ul class="blog-posts">
    {{ range where .Pages "Section" "blog" }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    {{ end }}
  </ul>

  <!-- <ul class="blog-posts">
    {{ range where .Pages "Section" "events" }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    {{ end }}
  </ul> -->

  {{ if eq .Section "events" }}
  {{ $eventPages := where .Pages "Section" "events" }}
  {{ $onSitePages := slice }}
  {{ range $eventPages }}
    {{ $series := lower (default "" .Params.series) }}
    {{ if eq $series "on-site" }}
      {{ $onSitePages = $onSitePages | append . }}
    {{ end }}
  {{ end }}
  {{ $onSitePages = sort $onSitePages "Date" "desc" }}
  {{ $onSiteAbout := .Site.GetPage "events/about-on-site" }}
  {{ if or (gt (len $onSitePages) 0) $onSiteAbout }}
  <strong style="display: block;">
    {{ if $onSiteAbout }}
    <a class="event-category-link" href="{{ $onSiteAbout.Permalink }}">On-site</a>
    {{ else }}
    On-site
    {{ end }}
  </strong>
  {{ end }}

  {{ if gt (len $onSitePages) 0 }}
  <ul class="blog-posts">
    {{ range first 7 $onSitePages }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    {{ end }}
  </ul>
  {{ end }}

  {{ $onSiteRest := after 7 $onSitePages }}
  {{ if gt (len $onSiteRest) 0 }}
  <ul class="blog-posts">
    {{ range (sort $onSiteRest "Date" "asc").GroupByDate "2006" }}
    <li>
      <span>
        <i>{{ .Key }}</i>
      </span>
      {{ range $i, $p := sort .Pages "Date" "asc" }}
        {{ $matches := findRE "\\d+" $p.Title }}
        {{ $num := $p.Title }}
        {{ if ge (len $matches) 1 }}
          {{ $num = index $matches 0 }}
        {{ end }}
        {{ if gt $i 0 }}&nbsp;{{ end }}
        <a href="{{ $p.Permalink }}">{{ $num }}</a>
      {{ end }}
    </li>
    {{ end }}
  </ul>
  {{ end }}

  {{ $intervalsPages := slice }}
  {{ range $eventPages }}
    {{ $series := lower (default "" .Params.series) }}
    {{ if eq $series "intervals" }}
      {{ $intervalsPages = $intervalsPages | append . }}
    {{ end }}
  {{ end }}
  {{ $intervalsAbout := .Site.GetPage "events/about-intervals" }}
  {{ if or (gt (len $intervalsPages) 0) $intervalsAbout }}
  <strong style="padding-top: 16px; display: block;">
    {{ if $intervalsAbout }}
    <a class="event-category-link" href="{{ $intervalsAbout.Permalink }}">Intervals</a>
    {{ else }}
    Intervals
    {{ end }}
  </strong>
  {{ end }}

  {{ if gt (len $intervalsPages) 0 }}
  <ul class="blog-posts">
    {{ range $intervalsPages }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    {{ end }}
  </ul>
  {{ end }}

  {{ $workshopPages := slice }}
  {{ range $eventPages }}
    {{ $series := lower (default "" .Params.series) }}
    {{ if eq $series "workshop" }}
      {{ $workshopPages = $workshopPages | append . }}
    {{ end }}
  {{ end }}
  {{ $workshopAbout := .Site.GetPage "events/about-workshop" }}
  {{ if or (gt (len $workshopPages) 0) $workshopAbout }}
  <strong style="padding-top: 16px; display: block;">
    {{ if $workshopAbout }}
    <a class="event-category-link" href="{{ $workshopAbout.Permalink }}">Workshop</a>
    {{ else }}
    Workshop
    {{ end }}
  </strong>
  {{ end }}

  {{ if gt (len $workshopPages) 0 }}
  <ul class="blog-posts">
    {{ range $workshopPages }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    {{ end }}
  </ul>
  {{ end }}

  {{ $tourPages := slice }}
  {{ range $eventPages }}
    {{ $series := lower (default "" .Params.series) }}
    {{ if eq $series "tour" }}
      {{ $tourPages = $tourPages | append . }}
    {{ end }}
  {{ end }}
  {{ $tourAbout := .Site.GetPage "events/about-tour" }}
  {{ if or (gt (len $tourPages) 0) $tourAbout }}
  <strong style="padding-top: 16px; display: block;">
    {{ if $tourAbout }}
    <a class="event-category-link" href="{{ $tourAbout.Permalink }}">Tour</a>
    {{ else }}
    Tour
    {{ end }}
  </strong>
  {{ end }}

  {{ if gt (len $tourPages) 0 }}
  <ul class="blog-posts">
    {{ range $tourPages }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    {{ end }}
  </ul>
  {{ end }}

  {{ $residencePages := slice }}
  {{ range $eventPages }}
    {{ $series := lower (default "" .Params.series) }}
    {{ if eq $series "residence" }}
      {{ $residencePages = $residencePages | append . }}
    {{ end }}
  {{ end }}
  {{ $residenceAbout := .Site.GetPage "events/about-residence" }}
  {{ if or (gt (len $residencePages) 0) $residenceAbout }}
  <strong style="padding-top: 16px; display: block;">
    {{ if $residenceAbout }}
    <a class="event-category-link" href="{{ $residenceAbout.Permalink }}">Residence</a>
    {{ else }}
    Residence
    {{ end }}
  </strong>
  {{ end }}

  {{ if gt (len $residencePages) 0 }}
  <ul class="blog-posts">
    {{ range $residencePages }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    {{ end }}
  </ul>
  {{ end }}
  {{ end }}

  {{ if .Data.Singular }}
  {{else}}
  <small>
    <div>
      {{ range .Site.Taxonomies.tags }}
      <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
      {{ end }}
    </div>
  </small>
  {{ end }}
</content>
{{ end }}
